<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  <%= link_to apartment_path(apartment) do %>
    <div class="card">
      <div class="card-images no-border-bottom <%= apartment.availability <= Date.today ? 'border-green' : 'border-gray' %>">
        <%= render "shared/card_carousel", apartment: apartment %>

        <div class="tag tag-kaki card-category-tag"><%= apartment.nature %></div>
        <div class="tag tag-pink card-price-tag"><%= apartment.price %> <span>€ </span></div>
      </div>
      <div class="card-content">
        <div class="card-content-top no-border-top no-border-bottom <%= apartment.availability <= Date.today ? 'border-green' : 'border-gray' %>">
          <div class="information">
            <div class="information-left">
              <h5 class="bold"> <%= apartment.name %></h5>
            </div>
            <div class="information-right">
              <div>
                <% apartment.number_of_rooms.times do %><%= image_tag "chambre.png", height: 20 %><% end %>
              </div>
            </div>
          </div>
          <p class="smaller-font-size"> <%= image_tag "pin.png", height: 15 %> <%= apartment.location %></p>
          <p class="smaller-font-size"><%= apartment.price %> <%= t('card.per_room') %> </p>
        </div>
        <div class="card-content-bottom  <%= apartment.availability <= Date.today ? 'availability-green' : 'availability-red' %>">
          <div class="availability">
            <% if apartment.availability <= Date.today %>
              <p class="smaller-font-size" id="available">  <%= apartment.category == "flatshare" ? t('card.available.flatshare') :  t('card.available.apartment')%></p>
            <% else %>
              <p class="smaller-font-size"><%= t('card.not-available') %> <strong><%= apartment.availability.strftime("%d/%m/%Y") %></strong> </p>
            <% end %>
          </div>
            <%= link_to apartment_path(apartment) do %>
              <i class="fa fa-arrow-right"></i>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
