<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.bmp", height: 70 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
      <!-- Links when logged in -->
    <%= link_to t('navbar.flats'), apartments_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Contact", contact_path, class: "navbar-wagon-item navbar-wagon-link" %>
     <div id="flag-container">
      <div class="dropdown">
        <div class="dropdown-toggle flag-menu" type="button" id="languageMenuToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if  request.url.include?('fr') %>
            <%= image_tag 'fr.png', height: 20 %>
          <% else %>
            <%= image_tag 'uk.png', height: 20 %>
          <% end %>
          <div class="caret"></div>
        </div>
        <ul class="dropdown-menu pull-right" aria-labelledby="languageMenuToggle" id= "languageMenu">
          <li class="dropdown-item <%= request.url.include?('fr') ? '' : 'active' %>" >
            <%= link_to "/", :class => "flag" do %>
              <%= image_tag 'uk.png', height: 20 %>
              <p>English</p>
            <% end %>
          </li>
          <li class="dropdown-item <%= request.url.include?('fr') ? 'active' : '' %>">
            <%= link_to "/fr", :class => "flag" do %>
              <%= image_tag 'fr.png', height: 20 %>
              <p>Français</p>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "colocs", apartments_path %></li>
        <li><%= link_to "contact", contact_path %></li>
      </ul>
    </div>
  </div>
</div>

