<div class="container">
  <div class="contact">
    <h1>Contact</h1>
    <p class="info"><%= t('contact.info') %></p>
    <div class="button-container">
      <%= link_to MESSENGER_LINK, target: '_blank', rel: 'noopener noreferrer', class: 'messenger_btn' do %>
        <%= t('contact.messenger_contact') %>
        <%= image_tag 'messenger.svg', height: 20 , class: "messenger_icon" %>
      <% end %>
    </div>
    <div class="contact-content">
      <div class="no_fb">
        <p> <%= t('contact.no_fb') %></p>
      </div>
      <div class="contact_info">
        <p class="city_name">Lille</p>
        <p>Email : <%= link_to CONTACT_EMAIL_LILLE, "mailto:#{CONTACT_EMAIL_LILLE}", class: "link" %></p>
        <p>Tel : <%= link_to PHONE_NUMBER_LILLE, "tel:#{PHONE_NUMBER_LILLE}", class: "link" %> </p>

        <p class="city_name" style="margin-top: 20px">Luxembourg</p>
        <p>Email : <%= link_to CONTACT_EMAIL_LUX, "mailto:#{CONTACT_EMAIL_LUX}", class: "link" %></p>
        <p>Tel : <%= link_to PHONE_NUMBER_LUX, "tel:#{PHONE_NUMBER_LUX}", class: "link" %> </p>
      </div>
    </div>
  </div>
</div>
