<%= render "shared/banner" %>
<div class="container">
  <div class="home-content">
    <div id="avaible-now">
      <h2><%= t('home.available-now') %></h2>
      <div class="row margin-top">
        <% @apartments.each do |apartment| %>
          <%# cache apartment do %>
            <% if apartment.availability <= Date.today %>
              <%= render "shared/card", apartment: apartment %>
            <% end %>
          <%# end %>
        <% end %>
      </div>
    </div>
    <h2><%= t('home.flatshares') %></h2>
    <div class="row margin-top">
      <%  @available_soon.each do |apartment| %>
        <%# cache apartment do %>
          <%= render "shared/card", apartment: apartment %>
        <%# end %>
      <% end %>
      <div class="home-button">
        <%= link_to t('home.call-to-action-2'), flatshares_path, class: "btn btn-border-pink btn-large btn-color-black" %>
      </div>
    </div>
    <h2><%= t('home.apartments') %></h2>
    <div class="row margin-top">
      <% @apparts.each do |appart| %>
        <%# cache appart do %>
          <%= render "shared/card", apartment: appart %>
        <%# end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  let i18n = {
    title: '<%= t('swal.title') %>',
    option1: '<%= t('swal.options.flatshare') %>',
    option2: '<%= t('swal.options.apartment') %>'
  }
</script>
