<div class="container">
  <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
  <div id="avaible-now">
    <div class="title">
      <h3><%= t('home.available-now') %></h3>
    </div>
    <div class="row margin-top">
      <% @apartments.each do |apartment| %>
        <% cache apartment do %>
          <% if apartment.availability <= Date.today %>
            <%= render "shared/card", apartment: apartment %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="title">
    <h1><%= t('index.title.flatshare') %></h1>
  </div>
  <div class="row margin-top">
    <% @flatshares.order(availability: :asc).each do |apartment| %>
      <% cache apartment do %>
        <%= render "shared/card", apartment: apartment %>
      <% end %>
    <% end %>
  </div>
  <div class="title">
    <h2><%= t('index.title.apartment') %></h2>
  </div>
  <div class="row margin-top">
    <% @apparts.order(availability: :asc).each do |apartment| %>
      <% cache apartment do %>
        <%= render "shared/card", apartment: apartment %>
      <% end %>
    <% end %>
  </div>
</div>





