<div class="wrapper">
  <div id="carousel-images-<%= @apartment.id %>" class="carousel slide full-height" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators carousel-indicators-better">
      <% @apartment.photos.each_with_index do |_photo, index| %>
      <li data-target="#carousel-images-<%= @apartment.id %>" data-slide-to= "<%= index %>" class="<%= 'active' if index == 0 %>" ></li>
      <% end %>
    </ol>
      <div class="carousel-inner full-height" role="listbox">
        <% @apartment.photos.each_with_index do |photo, index| %>
            <div class="item <%= "active" if index == 0 %> banner" style="background-image: url('<%= cl_image_path photo.url %>');"></div>
        <% end %>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-images-<%= @apartment.id %>" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-images-<%= @apartment.id %>" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
</div>
<div class="container">
  <div class="flexbox-show">
    <div class="left-part">
      <div class="details">
        <h4><%= @apartment.name %></h4></p>
        <p class="tag-kaki smaller-font-size"><%= @apartment.category.capitalize %></p>
        <p class="smaller-font-size"><%= image_tag "pin.png", height: 15 %><%= @apartment.location %></p>
      </div>
      <div class="carasteristics smaller-font-size">
        <ul>
          <li><%= image_tag "size.png", height: 15 %> <%= @apartment.size %>m2</li>
          <li><%= image_tag "chambre.png", height: 20 %> <%= @apartment.number_of_rooms%> chambres</li>
          <li>
            <% number_of_bathroom = @apartment.bathroom %>
            <%= image_tag "bathroom.png", height: 15 %> <%= number_of_bathroom <= 1 ? "#{number_of_bathroom} salle de bains" : "#{number_of_bathroom} salles de bains" %>
          </li>
          <li><%= image_tag "toilet.png", height: 15 %> <%= @apartment.toilet %> w.c</li>
          <li>
            <% if @apartment.terrace? %>
              <%= image_tag "sun.png", height: 15 %> terrasse
            <% end %>
          </li>
          <li>
            <% if @apartment.living_room? %>
                <%= image_tag "sofa.png", height: 15 %> séjour
            <% end %>
          </li>
          <li>
            <% if @apartment.dining_room? %>
              <%= image_tag "table.png", height: 15 %> salle à manger
            <% end %>
          </li>
          <li><%= image_tag "kitchen.png", height: 15 %> cuisine</li>
          <li>
            <% if @apartment.washing_room? %>
              <%= image_tag "laverie.png", height: 15 %> laverie
            <% else %>
              <%= image_tag "laverie.png", height: 15 %> machine à laver
            <% end %>
          </li>
        </ul>
      </div>
      <div class="description smaller-font-size">
        <p><%= @apartment.description  %></p>
      </div>
    </div>
    <div class="right-part">
      <% if @apartment.category == "coloc" %>
          <p class="pink-background smaller-font-size center"> <span class="price"><%= @apartment.price_per_room %> € </span> + charges</p>
        <% else %>
           <p class="pink-background smaller-font-size center"> <span class="price"><%= @apartment.price %> € </span> + charges</p>
        <% end %>
      <div class="buttons">
        <%= link_to "Pré-réserver", "https://docs.google.com/forms/d/e/1FAIpQLScFlItNbbbMVsVucvpQUKOoHCj-SLS0IYoMklJMoZiUGIT17A/viewform", class: "btn-border-pink text-black margin-right" %>
        <%= link_to "Nous contacter", "http://m.me/2XLcoloc.chambresalouer", class: "btn-border-gray text-black" %>
      </div>
    </div>
  </div>
</div>
