<div class="wrapper">
  <%= render "shared/show_carousel", apartment: @apartment %>
</div>

<div class="container">
  <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
  <div class="flexbox-show">
    <div class="left-part">
      <div class="details">
        <h4><%= @apartment.name %></h4>
        <h1 class="tag tag-kaki smaller-font-size"><%= @apartment.nature.capitalize %></h1>
          <% if @apartment.availability <= Date.today && @apartment.category == "flatshare" %>
            <h2 class="tag tag-green smaller-font-size">
              <%= t('card.available.flatshare') %>
            </h2>
          <% elsif @apartment.availability <= Date.today && @apartment.category == "apartment"  %>
            <h2 class="tag tag-green smaller-font-size">
              <%= t('card.available.apartment') %>
            </h2>
          <% else %>
            <h2 class="tag tag-red smaller-font-size">
              <%= t('card.not-available') %> <strong><%= @apartment.availability.strftime("%d/%m/%Y") %></strong>
             </h2>
          <% end %>
        <h3 class="smaller-font-size"><%= image_tag "pin.png", height: 15 %><%= @apartment.location %></h3>
      </div>
      <div class="carasteristics smaller-font-size">
        <ul>
          <li><%= image_tag "size.png", height: 15 %> <%= @apartment.size %> <%= t('show.sqm') %></li>
          <li><%= image_tag "chambre.png", height: 20 %>
           <% if  @apartment.number_of_rooms <= 1 %>
              <%= @apartment.number_of_rooms  %> <%= t('show.rooms.one') %>
            <% else %>
              <%= @apartment.number_of_rooms  %> <%= t('show.rooms.other') %>
            <% end %>
          <li>
            <% number_of_bathroom = @apartment.bathroom %>
            <%= image_tag "bathroom.png", height: 15 %>
            <% if number_of_bathroom <= 1 %>
              <%= number_of_bathroom  %> <%= t('show.bathroom.one') %>
            <% else %>
              <%= number_of_bathroom %> <%= t('show.bathroom.other') %>
            <% end %>
          </li>
          <li><%= image_tag "toilet.png", height: 15 %>
           <% if @apartment.toilet <= 1 %>
              <%= @apartment.toilet  %> <%= t('show.toilet.one') %>
            <% else %>
              <%= @apartment.toilet %> <%= t('show.toilet.other') %>
            <% end %>
          </li>
          <li>
            <% if @apartment.terrace? %>
              <%= image_tag "sun.png", height: 15 %> <%= t('show.terrace') %>
            <% end %>
          </li>
          <li>
            <% if @apartment.living_room? %>
                <%= image_tag "sofa.png", height: 15 %> <%= t('show.living-room') %>
            <% end %>
          </li>
          <li>
            <% if @apartment.dining_room? %>
              <%= image_tag "table.png", height: 15 %> <%= t('show.dining-room') %>
            <% end %>
          </li>
          <li><%= image_tag "kitchen.png", height: 15 %> <%= t('show.kitchen') %></li>
          <li>
            <% if @apartment.washing_room? %>
              <%= image_tag "laverie.png", height: 15 %> <%= t('show.washing-room') %>
            <% else %>
              <%= image_tag "laverie.png", height: 15 %> <%= t('show.washing-macine') %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="description smaller-font-size">
        <p><%= @apartment.description  %></p>
      </div>
      <%= link_to apartments_path do %>
        <i class="fa fa-arrow-left"></i>
      <% end %>
    </div>
    <div class="right-part">
      <p class="pink-background smaller-font-size center"> <span class="price"><%= @apartment.price %> € </span> + <%= t('show.utilities') %></p>
      <div class="buttons">
        <div id="reservation">
            <%= link_to t('show.reservation'), BOOKING_FORM, target: "_blank", class: "btn btn-border-pink text-black margin-right" %>
        </div>
        <div id="contact">
            <%= link_to t('show.contact'), MESSENGER_LINK, target: "_blank", class: "btn btn-border-gray text-black" %>
        </div>
      </div>
    </div>
  </div>
</div>
